#content{
	padding-top: 88px;
}
#heading{
	margin: 15px 0;
	height: 30px;
}
#heading h3{
	color: #7c7c7c;
	font-size: 24px;
	line-height: 30px;
	width: 201px;
	float: left;
}
#heading .glyphicon{
	color: #575655;
	font-size: 27px;
	vertical-align: middle;
}
#heading .action{

	width: 320px;
	float: right;
}
#heading .action .a-sel{
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	color: #7c7c7c;
	margin: 0 5px 0 0;
}
#select{
	float: right;
	position: relative;
}
#select p{
	border: 1px solid rgb(231, 231, 231);
	padding: 2px 10px;
	line-height: 20px;
	width: 198px;
	position: relative;
}
#select .s-title{
	color: #333333;
	background: #e7e7e7;
}
#select .tri{
	border: 4px solid transparent;
	border-top: 4px solid #747474;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -2px;
}
#select .s-sel{
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 28px;
	background: #fff;
	z-index: 1;
	padding: 5px 0;
	display: none;
}
#select .s-sel li{
	width: 178px;
	padding: 3px 20px;
	text-align: right;
	color: #333333;
	line-height: 20px;
}
#select .s-sel li:hover{
	background: #0081c2;
	color: #fff;
}
#tab{
	border-collapse: collapse;
}
#tab th{
	background: rgb(229, 65, 45);
	color: #fff;
	font-size: 14px;
	padding: 8px;
	height: 20px;
	line-height: 20px;
	float: left;
	border-left: 1px solid rgb(229, 65, 45);
}
#tab .fir{
	width: 24px;
	text-align: center;
}
#tab .fir input{
	width: 19px;
	height: 19px;
}
#tab .sec{
	width: 22px;
	text-align: center;
}
#tab .thi{
	width: 504px;
}
#media-body{
	width: 406px;
	float: right;
}
#media-body h3{
	color: #4d4d4d;
	font-size: 14px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
}
#media .pro{
	font-size: 12px;
	height: 13px;
	line-height: 13px;
	color: #e5412d;
	margin-bottom: 5px;
	display: block;
}
#media .pro:hover{
	color: #4d4d4d;
}
#media p{
	float: left;
	margin-right: 5px;
}
#media .siz{
	color: #7c7c7c;
	line-height: 25px;
	height: 25px;
}
#media .text{
	border-radius: 3px;
}
#tab .for{
	width: 50px;
	text-align: center;
}
#tab .fif{
	width: 80px;
	text-align: center;
}
#tab .six{
	width: 79px;
	text-align: center;
}
#tab .sev{
	width: 79px;
	text-align: center;
}
#tab td{
	float: left;
	height: 128px;
	padding: 8px;
	border-top: 1px solid rgb(239, 239, 239);
	border-left: 1px solid rgb(239, 239, 239);
	color: #7c7c7c;
}
#tab input{
	width: 36px;
	height: 20px;
	padding: 4px 6px;
	border: 1px solid rgb(239, 239, 239);
	color: rgb(167, 167, 167);
}
#media img{
	width: 80px;
	padding: 3px;
	border: 1px solid rgb(239, 239, 239);
}
#tab .tab-tr{
	border-right: 1px solid rgb(239, 239, 239);
}
#tab .tab-tr2{
	background: #fafafa;
}
#tab .tab-tr:hover,#tab .selected{
	background: #dbdbdb;
}
#pay{
	margin: 15px 0;
	overflow: hidden;
}
#discount{
	width: 441px;
	height: 105px;
	padding: 15px;
	border: 1px solid rgb(239, 239, 239);
	background: rgb(244, 244, 244);
	text-align: center;
	float: left;
	margin-right: 15px;
}
#discount span{
	font-weight: bold;
	color: #7c7c7c;
}
#discount input{
	margin: 15px 0 10px;
	display: block;
	width: 426px;
	height: 20px;
	padding: 4px 6px;
	border: 1px solid rgb(239, 239, 239);
	color: rgb(167, 167, 167);
}
#discount a{
	display: inline-block;
	width: 74px;
	height: 20px;
	padding: 4px 12px;
	border: 1px solid rgb(66, 66, 66);
	background: rgb(66, 66, 66);
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}
#pay-tab{
	float: left;
	text-align: right;
}
#pay-tab td{
	padding: 4px 10px;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #7c7c7c;
	width: 85px;
}
#total{
	float: right;
}
#total .tot{
	display: block;
	width: 209px;
	height: 29px;
	line-height: 29px;
	padding: 0 10px;
	background: rgb(229, 229, 229);
	border-radius: 3px;
	font-size: 15px;
	font-weight: bold;
	color: #222;
	text-align: center;
}
#total a{
	width: 207px;
	height: 20px;
	display: block;
	padding: 10px;
	margin-top: 15px;
	border: 1px solid rgb(229, 65, 45);
	background: rgb(229, 65, 45);
	color: #fff;
	font-size: 17.5px;
	font-weight: 600;
	line-height: 20px;
}
#total .glyphicon{
	font-size: 17px;
	color: rgba(255, 255, 255, 0.4);
	margin-right: 5px;
}